 @media only screen and (min-width:200px){
 	::-webkit-scrollbar { 
    display: none; 
	 }
     body{
     	margin:0;
     	padding: 0;
     	box-sizing: border-box;
     	font-family: Tangerine;
     	
     }
     a{
     	cursor:pointer;
     	text-decoration: none;
     }
      div.footer{
     	 box-shadow:  black;
     	width: 100%;

     	position: fixed;
     	bottom: 0;
     
     }
     ul.foot_icons{
     	list-style-type: none;
     }
     li{
     	display: inline;


  	 }img.nav_icons{
  	 	width: 2em;
  	 	height: auto;
  	 	padding-left: 1.5em;

  	 }
  	 img#home{
  	 	position: absolute;
  	 	left:1%;
  	 	top:3em;
  	 	width: 3em;
  	 	height: auto;
  	 		
  	 	
  	 }
  	  img#search{
  	 	position: absolute;
  	 	left: 17%;
  	 	top:3em;
  	 	width: 3em;
  	 	height: auto;
  	 		
  	 	
  	 }
  	   img#camera{
  	 	position: absolute;
  	 	left: 35%;
  	 	top:3em;
  	 	width: 2.5em;
  	 	height: auto;


  	 	
  	 } 
  	 img#love{
  	 	position: relative;
  	 	left:48%;
  	 	width: 3em;
  	 	top:1.3em;
  	 	z-index: -1;
  	 }
  	    
  	    img#person{
  	 	position: absolute;
  	 	left:72%;
  	 	top:3em;
  	 	width: 2.5em;
  	 	height: auto;

  	 }
  	 div.header{
  	 	width: 100%;
  	 	border-bottom:1px solid lightgrey;
  	 	height: 15vw;
  	 	position: fixed;
  	 }
     div.header2{
      display:none;

     }
  	 input#mysearch{
  	 	width:80%;
  	 	height: 5vw;
  	 	margin-left:10%;
  	 	margin-top: 1.2em;
  	 	background: url(../images/search_insta.png) no-repeat #fff;
    	
  	 }
  	div.content{
  		width: 100%;
  		border-bottom: 1px solid lightgrey;
  		top:10vh;
  		height:78.5vh;
  		position: fixed;
  		overflow-y: scroll;
  		background-color: #ffffe6;
  	}	
  

  	img.img1{
  		width: 32%;
  		height:30vw;
  		
  		position: relative;
  		bottom:1em;
  		right:12%;
  	}
  	img.img2{
  		width: 32%;
  		height:30vw;
  		
  		position: relative;
  		bottom:1em;
  		right: 6%;
  	}
  	img.img3{
  		width: 32%;
  			height:30vw;
  		
  		position: relative;
  		bottom:1em;
  		left:0%;
  	}
        div#ind_image{
      width: 50%;
      border:1px solid lightgrey;
      height: 30vh;
      position: absolute;
      top:17em;
      margin-left: 25%;
      background-color: #ffffe6;
      display: none;
    }
    img#ind_image1{
      width: 70%;
      height: 30vh;

    }
    div#ind_image button{
      width: 25%;
      background-color: red;
      color: white;
      
      position: relative;
      bottom:100%;
      margin-left: 76%;
      cursor: pointer;
    }
    div.links{
      position: relative;

      font-size: 1.2em;
      
    }
    div.links li{
      padding-left: .5em;
    }
    div.copyright{
      margin-left: 36%;
    }
  	
  	 }
     @media only screen and (min-width: 500px){
      div.header{
        display: none;
      }
      div.footer{
        display: none;
      }
      div.content{
        height: 90vh;
      }
        div.header2{
      width: 100%;
      height: 10.1vh;
      position: fixed;
      border-top: 1px solid lightgrey;
      display: block;
    }
    div.head_icons{
      width:40%;
      height: 10.1vh;
      
      position: absolute;
      right: 0;
    }
    img#compass{
      width: 5vh;
      height: auto;
      position: absolute;
      right: 60%;
    }
    img#love{
      width: 7vh;
      height: auto;
      position: absolute;
      bottom:.001em;
      right:30%;
    }
    img#person{
      width: 5vh;
      height: auto;
      position: absolute;
      bottom: 1em;
      right: 1em;
    }
    input#search_user{
      width:30%;
      height: 2em;
      background-color: white;
      position: absolute;
      top:1.2em;
      left: 35%;
    }
    div.heading1{
      width: 33%;
    
      position: absolute;
      top:.8em;
      
    }
    div.logo img{
      width: 15%;
      height: auto;
      margin-left: 20%;

    }
    img#insta{
      width:50%;
      position: absolute;
    
      left:25%;
    }
      img#compass{
      width: 5vh;
      height: auto;
      position: absolute;
      right: 60%;
    }
    img#love{
      width: 7vh;
      height: auto;
      position: absolute;
      top:.1em;
      

     
    }
    img#person{
      width: 5vh;
      height: auto;
      position: absolute;
      top:1em;
     

    }
    div#ind_image button{
      width: 22%;
     }
    
     div.links{
      margin-left: 20%;
     }
    }

 @media only screen and (min-width: 780px){
  div.content{
    top:15vh;
  }
  div.wrapper{
    width: 60%;
    
    margin-left: 23%;
  }
  div.header2{
    height: 15vh;
  }
  img.img1{
      width: 30%;
      height:20vw;
      
      position: relative;
      bottom:1em;
      right:6%;
    }
    img.img2{
      width: 30%;
      height:20vw;
      
      position: relative;
      bottom:1em;
      right: 2%;
    }
    img.img3{
      width: 30%;
        height:20vw;
      
      position: relative;
      bottom:1em;
      left:1%;
    }
    div#ind_image{
     
      height: 40vh;
      position: absolute;
      top:10em;
      margin-left: 27%;
     
      display: none;
    }
     img#ind_image1{
      width: 70%;
      height: 40vh;

    }
    div#ind_image button{
      width: 22%;
      background-color: red;
      color: white;
      
      position: relative;
      bottom:100%;
      margin-left: 76%;
      cursor: pointer;
    }

      
 }
@media only screen and (min-width: 1100px){
 
  input#search_user{
    top:2.7em;
  }
  div.head_icons{
    top:1em;

  }
  div#ind_image{
    height: 60vh;
  }
  img#ind_image1{
      width: 70%;
      height: 60vh;

    }
div.links{
      margin-left: 35%;
      position: relative;
      bottom:1em;
     }
     div.copyright{
      position: relative;
      bottom: 2.5em;
      margin-left: 45%;
     }
 }