 @media only screen and (max-width:500px){
     ::-webkit-scrollbar { 
    display: none; 
	 }
   
   @font-face{
     font-family: font_one;
    src:url(../font2/OdibeeSans-Regular.otf);
   }
     body{
     	margin:0;
     	padding: 0;
     	box-sizing: border-box;
     	
     
     }
     .textbox{
      position: relative;
      top:2em;
      width: 80%;
      display: none;
     }
     a{
     	cursor:pointer;
     	text-decoration: none;
     }
     div.header2{
      display: none;
     }
     div.header{
     	width: 100%;
     	height: 10.1vh;

     	position: fixed;
     }
     div.icon{
     	width: 15%;
     	position: absolute;
     	top:.2em;
     	
     }
     div.heading{
     	width: 40%;
     	margin-left: 32vw;
     	position: absolute;
     	top:.4em;

     	
     }
     img#search_user{
     	width: 100%;
     	height:auto;
     }
     img#instagram{
     	width: 100%;
     	height: auto;


     }
     div.footer{
     	 box-shadow:  black;
     	width: 100%;

     	position: fixed;
     	bottom: 0;
     
     }
     ul.foot_icons{
     	list-style-type: none;
     }
     li{
     	display: inline;


  	 }
  	 div.content{
  	 	width: 100%;
  		background-color: #ffffe6;
  	 	height: 80.5vh;
  	 	position: fixed;
  	 	top:10.1vh;
  	 	overflow-y: scroll;
      border-bottom: 1px solid lightgrey;

  	 }
  	 img.nav_icons{
  	 	width: 2em;
  	 	height: auto;
  	 	padding-left: 1.5em;

  	 }
  	 img#home{
  	 	position: absolute;
  	 	left:1%;
  	 	top:3em;
  	 	width: 3em;
  	 	height: auto;
  	 		
  	 	
  	 }
  	  img#search{
  	 	position: absolute;
  	 	left: 17%;
  	 	top:3em;
  	 	width: 3em;
  	 	height: auto;
  	 		
  	 	
  	 }
  	   img#camera{
  	 	position: absolute;
  	 	left: 35%;
  	 	top:3em;
  	 	width: 2.5em;
  	 	height: auto;


  	 	
  	 } 
  	 img#love{
  	 	position: relative;
  	 	left:48%;
  	 	width: 3em;
  	 	top:1.3em;
  	 	z-index: -1;
  	 }
  	    
  	    img#person{
  	 	position: absolute;
  	 	left:72%;
  	 	top:3em;
  	 	width: 2.5em;
  	 	height: auto;

  	 }
  	div.title{
  		width: 100%;
  	} 
  	div.profile_pic{
  		border-radius: 50%;
  		width: 2em;
  		height: 2em;
  		border:1px solid black;
  		position: relative;
  		top:1.5em;
  		margin-left: 3vw;

  	}
  	img#profile_pic{
  		width: 100%;
  		height: auto;
  	}
  	span#username{
  	position: relative;
  	left:2.5em;
  	margin-left: 6vw;
  	font-weight: bolder;
    font-family:Tangerine;
  	
  	}
  	div.dots{
  		position: absolute;
  		left:90%;
  		top:.65em;

  	}
  	div.dots span{
  		font-weight: bolder;
  		font-size: 3em;
      cursor:pointer;
  	}
  	div.pic{
  		width: 100%;
  		height: 60vw;
  		
  		position:relative;
  		top:1em;
  	}
  	img.pic1{
  		width: 100%;
  		height: auto;
  	}
  	div.likes,div.likes1{
  		position:relative;
  		top:1em;
  		
  	}
  	li.comment{
  		display: inline;
  	} 
  	img.like{
  		width: 2.5em;
  	 	height: auto;
  	 	position: absolute;
  	 	left: 1vw;
  	 	z-index: -1;

  	}
  	img.comment1{
  		width: 2em;
  	 	height: auto;
  	 	position: absolute;
  	 	left: 15vw;
  	 	top:1.9vh;
  	}
  	div.description,div.description1{
  		font-family: font_one;
      font-size: 1.2em;
  	}
  	div.description span,div.description1 span{
  		position: relative;
  		top:4.5em;
  		font-size: 1em;
  		left:.75em;
  	}
  	div.chat{
  		width: 100%;
  		position: relative;
  		top:5em;
  		right: 1.8em;
  		
  	}
  	div.post2{
  		position: relative;
  		top:7em;
  	}
    div.pop{
      font-size: 1.5em;
      font-family: font_one;
      width: 100%;
      height: 40vh;
      position: relative;
      top:60vh;
      background-color: white;
      border-top:1px solid black;
      border-bottom: 1px solid black;
      display: none;
    }
    hr{
      position: relative;
      right: 12%;
      width: 120%;
      top:3em;
      opacity:0.6;
    }
    div.rep{
      position: relative;
      right: .7em;
      top:1.2em;
      cursor: pointer;
    }
     div.cancel{
      position: relative;
      left: 2.8em;
        top:3em;
        cursor: pointer;
    }
    img#loading{
      width: 10%;
      height: auto;
      position: relative;
      top:30vh;
      left:40%;
    }

 }
 @media only screen and (min-width:420px){
  
   div.icon{
      width: 15%;
      position: absolute;
      left: 5%
     
      
     }
     div.heading{
      width: 40%;
      margin-left: 32vw;
      position: absolute;
      top:.1em;
      
     }
     img#search_user{
      width: 80%;
      height:auto;
     }
     img#instagram{
      width: 80%;
      height: auto;
     }
      div.likes1{
      position:relative;
      top:1.5em;
      
    }
 }
