@media only screen and (min-width:200px){
	 	::-webkit-scrollbar { 
    display: none; 
	 }
     body{
     	margin:0;
     	padding: 0;
     	box-sizing: border-box;
     	font-family: Tangerine;
     	
     }
     a{
     	cursor:pointer;
     	text-decoration: none;
     	color: black;

     }
      div.footer{
     	 box-shadow:  black;
     	width: 100%;

     	position: fixed;
     	bottom: 0;
     
     }
     ul.foot_icons{
     	list-style-type: none;
     }
     li{
     	display: inline;


  	 }img.nav_icons{
  	 	width: 2em;
  	 	height: auto;
  	 	padding-left: 1.5em;

  	 }
  	 img#home{
  	 	position: absolute;
  	 	left:1%;
  	 	top:3em;
  	 	width: 3em;
  	 	height: auto;
  	 		
  	 	
  	 }
  	  img#search{
  	 	position: absolute;
  	 	left: 17%;
  	 	top:3em;
  	 	width: 3em;
  	 	height: auto;
  	 		
  	 	
  	 }
  	   img#camera{
  	 	position: absolute;
  	 	left: 35%;
  	 	top:3em;
  	 	width: 2.5em;
  	 	height: auto;


  	 	
  	 } 
  	 img#love{
  	 	position: relative;
  	 	left:48%;
  	 	width: 3em;
  	 	top:1.3em;
  	 	z-index: -1;
  	 }
  	    
  	    img#person{
  	 	position: absolute;
  	 	left:72%;
  	 	top:3em;
  	 	width: 2.5em;
  	 	height: auto;

  	 }
  	 div.header{
  	 	width: 100%;
  	 	border-bottom:1px solid lightgrey;
  	 	height: 18vw;
  	 	position: fixed;
  	 }
  	  div.header2{
      display:none;

     }
  	 input#mysearch{
  	 	width:80%;
  	 	height: 5vw;
  	 	margin-left:10%;
  	 	margin-top: 1.2em;
  	 	background: url(../images/search_insta.png) no-repeat #fff;
    	
  	 }
  	 	div.content{
  		width: 100%;
  		border-bottom: 1px solid lightgrey;
  		top:10vh;
  		height:78.5vh;
  		
  		position: fixed;
  		overflow-y: scroll;

  	}
  	img.user_pic{
  		width:70px;
  		height: auto;
  		border-radius: 50%;
  		position: relative;
  		right: 6em;
  	}
  	li.name{
  		position: relative;
  		right: 4.5em;
  		bottom: 2em;
  		font-size: 1.2em;
  	}
  	li.username{
  		position: relative;
  		right: 9.3em;
  		bottom:1em;
  		font-family: sans-serif;
  	}
  	div.user{
  		position: relative;
  		top:4em;
  		margin-left: 8%;
  	}
  	button.follow{
  		position: relative;
  		
  		bottom:4em;
  		margin-left: 75%;
  		height: 2em;
  		background-color: #3897F0;
  		color: white;
  	}
  	li.users{
  		display: list-item;
  	}
  	li#tag{
  		position: relative;
  		top:2em;
  		right: 1.4em;
  		font-family: serif;
  		color:grey; 
  	}
  	

}
@media only screen and (min-width:500px){
  div.header{
    display: none;
  }
  div.footer{
    display:none;
  }
  div.content{
    height: 90vh;
  }
  div.header2{
      width: 100%;
      height: 10.1vh;
      position: fixed;
      border-top: 1px solid lightgrey;
      display: block;
    }
    div.head_icons{
      width:40%;
      height: 10.1vh;
      
      position: absolute;
      right: 0;
    }
    img#compass{
      width: 5vh;
      height: auto;
      position: absolute;
      right: 60%;
    }
    img#love{
      width: 7vh;
      height: auto;
      position: absolute;
      bottom:.001em;
      right:30%;
    }
    img#person{
      width: 5vh;
      height: auto;
      position: absolute;
      bottom: 1em;
      right: 1em;
    }
    input#search_user{
      width:30%;
      height: 2em;
      background-color: white;
      position: absolute;
      top:1.2em;
      left: 35%;
    }
    div.heading1{
      width: 33%;
    
      position: absolute;
      top:.8em;
      
    }
    div.logo img{
      width: 15%;
      height: auto;
      margin-left: 20%;

    }
    img#insta{
      width:50%;
      position: absolute;
    
      left:25%;
    }
      img#compass{
      width: 5vh;
      height: auto;
      position: absolute;
      right: 60%;
    }
    img#love{
      width: 7vh;
      height: auto;
      position: absolute;
      top:.1em;
      

     
    }
    img#person{
      width: 5vh;
      height: auto;
      position: absolute;
      top:1em;
     

    }
}
@media only screen and (min-width: 820px){

  div.wrapper{
    width: 60%;
      border-bottom: 1px solid lightgrey;
      top:13vh;
      height:90.5vh;
      margin-left: 22%;
  }
  div.header2{
    height: 13vh;
  }
   img#insta{
      width:40%;
      position: absolute;
    
      left:25%;
    }
      div.logo img{
      width: 12%;
      height: auto;
      margin-left: 20%;
    }
  }